.r-col-action{
    padding: 5px !important;
    vertical-align: middle !important;
    text-align: center !important;
}
.r-col-action button{
    padding: 4px 8px;
}
.dataTables_wrapper .dataTables_length { float: left; margin-bottom:  20px}
.dataTables_wrapper .dataTables_filter { float: right}
.dataTables_wrapper .dataTables_info { float: left;  margin-top:  20px}
.dataTables_wrapper .dataTables_paginate { float: right;  margin-top:  20px !important}
.form-vertical.save-data-form .row > .d-flex {
    margin-top: 30px;
}